<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
</head>
<body>

<!-- Контейнер всей страницы     -->
<div class="container-fluid m-0 p-0">

    <!-- Строка шапки -->
    <div class="bg-dark bg-gradient m-0 p-3 ">
        <div class="d-inline">
            <span class="text-white h5">
                <strong><th:block th:text="${currentUser.getEmail()}"></th:block></strong>
            </span>
            <span class="text-white h5">
                    <th:block class="font-weight-normal" th:text="'with roles: '"></th:block>
            </span>
            <span th:each="roleCU : ${currentUser.getRoles()}" class="text-white h5">
                    <th:block class="font-weight-normal" th:text="${roleCU}"></th:block>
            </span>
        </div>
        <div class="d-inline float-right nav mr-0 pr-0">
            <a class="text-secondary nav-item " th:href="@{/logout}">logout</a>
        </div>
    </div>

    <!-- Контейнер основной части страницы -->
    <div class="row m-0 p-0">
        <!-- Боковое меню -->
        <div class="col-md-2 p-0 m-0 align-top">
            <div class="bg-white vh-100 m-0 p-0 w-100">
                <ul class="nav nav-pills fs-5 w-100">
                    <li class="nav-item w-100">
                        <a class="nav-link active mt-3 w-100" th:href="@{/admin}">Admin</a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link w-100" th:href="@{/user}">User</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Контейнер информации о пользователях -->
        <div class="col-md-10 p-3 bg-light m-0 p-0">
            <div class="h1">Admin panel</div>

            <!-- Вкладки таблицы и персональной информации -->
            <div>
                <ul class="nav nav-tabs font-weight-normal" id="tabs" role="tablist">
                    <li class="nav-item ">
                        <a class="nav-link active"
                           id="nav-table-tab"
                           data-toggle="tab" role="tab" aria-controls="nav-table"
                           href="#nav-table"
                           aria-selected="true">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="nav-create-tab"
                           data-toggle="tab" role="tab" aria-controls="nav-create"
                           href="#nav-create"
                           aria-selected="false">New user</a>
                    </li>
                </ul>
            </div>

            <!-- Контент вкладок -->
            <div class="tab-content" id="tabsContent">
                <div class="tab-pane fade show active" id="nav-table" role="tabpanel" aria-labelledby="nav-table-tab">
                    <div class="border h5 pl-3 pt-2 pb-2 m-0">All users</div>

                    <!-- Таблица пользователей -->
                    <div class="bg-white border p-3 ">
                        <table class="table table-striped border-top table-responsive-md text-left">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.getId()}">id</td>
                                <td th:text="${user.getUsername()}">username</td>
                                <td th:text="${user.getAge()}">age</td>
                                <td th:text="${user.getEmail()}">email</td>
                                <td>
                                    <span th:each="role : ${user.getRoles()}">
                                        <span th:text="${role}"></span>
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="${'#editUser' + user.getId()}" th:data-row="${user}">
                                        Edit
                                    </button>
                                    <!-- Модальное окно редактирования -->
                                    <div class="modal fade" th:id="${'editUser' + user.getId()}" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row justify-content-center align-items-center text-center">
                                                        <form th:action="@{/admin/{id} (id=${user.id})}" th:object="${user}" th:method="put"  th:id="${'editUserButton' + user.getId()}">
                                                            <div class="">
                                                                <div class="form-group">
                                                                    <label for="idEdit" class="col-form-label font-weight-bold">ID</label>
                                                                    <input readonly type="number" class="form-control" th:value="${user.getId()}" id="idEdit" placeholder="ID" name="id">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="usernameEdit" class="col-form-label font-weight-bold">Username</label>
                                                                    <input type="text" class="form-control" th:value="${user.getUsername()}" id="usernameEdit" placeholder="User Name"  name="username">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="passwordEdit" class="col-form-label font-weight-bold">Password</label>
                                                                    <input type="text" class="form-control" th:value="${user.getPassword()}" id="passwordEdit" placeholder="password" name="password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ageEdit" class="col-form-label font-weight-bold">Age</label>
                                                                    <input type="number" class="form-control" th:value="${user.getAge()}" id="ageEdit" placeholder="Age" name="age">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="emailEdit"  class="col-form-label font-weight-bold">Email</label>
                                                                    <input type="text" class="form-control"  th:value="${user.getEmail()}" id="emailEdit" placeholder="Email" name="email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-form-label font-weight-bold" for="rolesEdit">Roles:</label>
                                                                    <select multiple class="form-control" name="rolesEdit" id="rolesEdit" size="2" th:value="${user.getRoles()}" >
                                                                        <option th:each="role : ${listRoles}" th:value="${role}" th:text="${role}"/>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" th:form="${'editUserButton'+user.id}">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" th:href="${'#delete' + user.id}" data-toggle="modal" data-target="deleteModal" th:data-target="${'#deleteUser' + user.getId()}" data-row="${user}">
                                        Delete
                                    </button>
                                    <!-- Модальное окно удаления -->
                                    <div  class="modal fade" th:id="${'deleteUser' + user.getId()}" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row justify-content-center align-items-center text-center">
                                                        <form th:id="${'deleteUserButton' + user.getId()}"
                                                              th:action="@{/admin/delete/{id}(id = ${user.id})}" th:object="${user}"
                                                              th:method="delete">
                                                            <div class="">
                                                                <div class="form-group">
                                                                    <label for="idDelete" class="col-form-label font-weight-bold">ID</label>
                                                                    <input readonly type="number" class="form-control" th:value="*{id}" id="idDelete" placeholder="ID">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="usernameDelete"
                                                                           class="col-form-label font-weight-bold">Username</label>
                                                                    <input readonly type="text" class="form-control" th:value="*{username}" id="usernameDelete" placeholder="User Name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ageDelete" class="col-form-label font-weight-bold">Age</label>
                                                                    <input readonly type="text" class="form-control" th:value="*{age}" id="ageDelete"  placeholder="Age">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="emailDelete" class="col-form-label font-weight-bold">Email</label>
                                                                    <input readonly type="text" class="form-control" th:value="*{email}" id="emailDelete" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-form-label font-weight-bold" for="rolesDel">Roles:</label>
                                                                    <select readonly multiple class="form-control" name="roles" id="rolesDel" size="2" th:value="*{roles}">
                                                                        <option th:each="role : ${listRoles}" th:value="${role}" th:text="${role}"/>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" th:form="${'deleteUserButton' + user.getId()}" class="btn btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">

                    <!-- Создание пользователя -->
                    <div class="border h5 pl-3 pt-2 pb-2 m-0">Add new user</div>
                    <div class="bg-white border p-3">
                        <div class="row justify-content-center align-items-center text-center">
                            <form th:action="@{/admin/create}" th:method="POST" th:object="${createUser}"> <!--th:object="${createUser}"-->>
                                <div class="form-group">
                                    <label class="col-form-label font-weight-bold p-0" for="createUsername" >Username</label>
                                    <input class="form-control" name="username" type="text" id="createUsername" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label font-weight-bold p-0" for="createPassword" >Password</label>
                                    <input class="form-control" name="password" type="password" id="createPassword" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label font-weight-bold p-0" for="createAge">Age</label>
                                    <input class="form-control" name="age" type="number" id="createAge" placeholder="Age">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label font-weight-bold p-0" for="createEmail">Email</label>
                                    <input class="form-control" name="email" type="text" id="createEmail" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label font-weight-bold p-0" for="newRoles">Roles:</label>
                                    <select class="form-control" th:value="${createUser.roles}" name="newRoles" id="newRoles" size="2" multiple>
                                        <option th:each="role : ${listRoles}" th:value="${role}" th:text="${role}"/>
                                    </select>
                                </div>

                                <input class="btn btn-success btn-lg" type="submit" value="Add new user">

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>