<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">
        <td th:text="${user.getUsername()}">
        <td th:text="${user.getPassword()}">
        <td th:text="${user.getEmail()}">
        <td th:text="${user.getAge()}">
    </tr>
    </tbody>
</table>

<br/>
<hr/>
<a href="/admin/create">Create New Person</a>

</body>
</html>